@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    /* color: rgba(75, 192, 192, 0.6); */
}
.handwriting{
    font-family: 'Kalam', cursive !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgb(241, 245, 241);
}

::-webkit-scrollbar-thumb {
    background: rgb(153, 153, 153);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(58, 58, 58);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.react-flow__handle-top{
    display: none;
}

.react-flow__attribution{
    display: none;
}
.react-flow__handle.connectionindicator {
    width: 16px;
    height: 16px;
}
.react-flow__handle-right {
    right: -20px;
}
.react-flow__handle-left {
    left: -20px;
}